html, body {
	width: 100%;
	height: 100%;	
}

.body-area {
  margin-top: 35px;
	margin-left: 20px;
}

#blocksDiv {
	border: 1px solid black;
	height: 300px;
}

.output-area {
	width: 640px;
  padding-top: 3px;
}

#outputDiv {
	width: 640px;
	height: 480px;
	border: 1px solid #666;
  border-radius: 5px;
}

#outputDiv video {
	display: none;
}

#outputDiv #outputCanvas {

}

#blocksCanvas {
	
}

/* for sticky footer */

* {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.footer, .push {
  height: 30px;
}

.footer {
  width:100%;
  background-color: #f5f5f5;
  border-top: 1px solid #d5d5d5;
  border-radius: 5px;
}

.footer-content {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
}
