/*-------------------------
	General Styles
--------------------------*/


#blocksDiv {
	border: 1px solid black;
	height: 300px;
}

#outputDiv {
	border: 1px solid black;
	height: 300px;
}

#outputDiv #inputVideo {
	display: none;
}

#outputDiv #outputCanvas {

}

#blocksCanvas {
	
}