/*-------------------------
	General Styles
--------------------------*/
html,body {
	width: 100%;
	height: 100%;	
}

.body-area {
	margin-left: 20px;
}

#blocksDiv {
	border: 1px solid black;
	height: 300px;
}

.output-area {
	width: 640px;
}

#outputDiv {
	border: 1px solid black;
	width: 640px;
	height: 480px;
}

#outputDiv video {
	display: none;
}

#outputDiv #outputCanvas {

}

#blocksCanvas {
	
}
